html * {
  font-family: sans-serif;
  font-size: 40px;
  color: #EEEEEE;
}

body {
  margin: 0;
  padding: 0;
  background: black;
}

.centered, .button, .title {
  display: grid;
  justify-items: center;
  align-items: center;
}

.scaled {
  container: scaled / size;
}

@container scaled (min-width: 1px) {
  span {
    font-size: 90cqmin;
  }
}

.title {
  background: #666666;
  border: 1px solid;
  padding: 2px 10px;
}

.button {
  background: #444444;
  border-radius: 25px;
  padding: 10px 25px;
  border: 1px solid;
}

.button.selected {
  background: #666666;
}

.button.disabled {
  color: red;
  background: #222222;
}

.popup {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  padding: 20px;
  background: black;
}

.popup.show {
  visibility: visible;
}

.grid-container {
  display: grid;
  gap: 10px;
}

#content {
  height: calc(100vh - 20px);
  padding: 10px;
  grid-template-rows: auto 60fr 40fr;
}

.titled-grid{
  grid-template-rows: auto 100fr;
}

.cols {
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
}

.tile-grid {
  grid-template-columns: auto auto auto auto auto;
}

.tile {
  display: grid;
  grid-template-rows: 20fr 60fr 20fr;
  background: #444444;
  border: 1px solid;
}

.tile.selected {
  background: #666666;
}

.red {
  background: linear-gradient(to right, red 0 50%, #444444 50% 100%);
  background-size: 200% auto;
  background-repeat: no-repeat;
}

.yellow {
  background: linear-gradient(to right, yellow 0 50%, #444444 50% 100%);;
  background-size: 200% auto;
  background-repeat: no-repeat;
}

.green {
  background: linear-gradient(to right, green 0 50%, #444444 50% 100%);;
  background-size: 200% auto;
  background-repeat: no-repeat;
}

.blue {
  background: linear-gradient(to right, blue 0 50%, #444444 50% 100%);;
  background-size: 200% auto;
  background-repeat: no-repeat;
}

.white {
  background: linear-gradient(to right, white 0 50%, #444444 50% 100%);;
  background-size: 200% auto;
  background-repeat: no-repeat;
}

.rainbow {
  background: linear-gradient(to right, pink 0 50%, #444444 50% 100%);;
  background-size: 200% auto;
  background-repeat: no-repeat;
}

.none {
  background-position: 100%;
}

.third {
  background-position: 66%;
}

.half {
  background-position: 50%;
}

.twothird {
  background-position: 33%;
}

.all {
  background-position: 0%;
}
